<div class="row">
  <div class="col-sm-4">
    <table class="table table-hover">
      <tr>
        <th>
          Item
        </th>
        <th>
          Quantity
        </th>
      </tr>
      <% @order_items.each do |item| %>
        <% if item.enough_inventory? %>
        <tr>
          <td>
            <%= item.product.name %>
          </td>
          <td>
            <%= item.quantity %>
          </td>
        </tr>
        <% end %>
      <% end %>
    </table>
  </div>
  
  <div class="col-sm-8">
    <%= form_for @order do |f| %>
    <fieldset class="form-group">
      <legend>
        Billing Information
      </legend>
      <%= f.label :email %>
      <%= f.email_field :email, class: "form-control" %>
      <%= f.label :mailing_address %>
      <%= f.text_field :mailing_address, class: "form-control" %>
      <%= f.label :zip %>
      <%= f.text_field :zip, class: "form-control" %>
      <%= label :shipping, "Shipping address is the same as billing" %>
      <%= check_box_tag :shipping %>
    </fieldset>
    <fieldset class="form-group">
      <legend>
        Credit Card Information
      </legend>
      <%= f.label :name_on_card %>
      <%= f.text_field :name_on_card, class: "form-control" %>
      <%= f.label :last_four, "Credit Card Number" %>
      <%= f.text_field :last_four, minlength: 14, maxlength: 16, class: "form-control" %>
      <br>
      <%= f.label :card_exp, "Expiration Date" %>
      <%= f.date_select :card_exp, start_year: Date.today.year, end_year: Date.today.year + 3, use_two_digit_numbers: true, discard_day: true, order: [:month, :year], prompt: { month: "Month", year: "Year" } %>
    </fieldset>
    <%= f.submit "Confirm Order", class: "btn btn-success btn-block" %>
    <% end %>
  </div>
</div>
