<div class="row">
  <div class="col-sm-4">
    <table class="table table-hover panel">
      <h2>In Your Cart</h2>
      <tr>
        <th>
          Item
        </th>
        <th>
          Quantity
        </th>
      </tr>
      <% @instock.each do |item| %>
        <tr>
          <td>
            <%= item.product.name %>
          </td>
          <td>
            <%= item.quantity %>
          </td>
        </tr>
      <% end %>
      <tr>
        <td>
          <h4>Total: <%= cents_to_dollars(@total) %></h4>
        </td>
        <td>
        </td>
      </tr>
    </table>
  </div>

  <div class="col-sm-8">
    <%= form_for @order do |f| %>
    <fieldset class="form-group">
      <legend>
        Shipping Information
      </legend>
      <span class="error"><%= "Please enter a valid email." if @errors.include?(:email) %></span>
      <%= f.label :email %>
      <%= f.email_field :email, class: "form-control" %>
      <span class="error"><%= "Please enter a valid address." if @errors.include?(:mailing_address) %></span>
      <%= f.label :mailing_address, "Address" %>
      <%= f.text_field :mailing_address, class: "form-control" %>
      <span class="error"><%= "Please enter a valid zip code." if @errors.include?(:zip) %></span>
      <%= f.label :zip %>
      <%= f.text_field :zip, class: "form-control" %>
      <%= label :city, "City" %>
      <%= text_field_tag :city, nil, class: "form-control" %>
      <%= label :state, "State" %>
      <%= text_field_tag :state, nil, class: "form-control", minlength: 2, maxlength: 15 %>
      <%= label :shipping, "Billing address is different than shipping address" %>
      <%= check_box_tag :shipping %>
    </fieldset>
    <fieldset class="form-group applesauce">
      <div id="shipform" style="display: none">
        <legend>
          Billing Information
        </legend>
        <%= label :address, "Address" %>
        <%= text_field_tag 'billing', nil, class: "form-control" %>
        <%= label :zip, "Zipcode" %>
        <%= text_field_tag 'zip', nil, class: "form-control" %>
        <br>
      </div>
    </fieldset>

    <fieldset class="form-group">
      <legend>
        Credit Card Information
      </legend>
      <span class="error"><%= "This field cannot be blank." if @errors.include?(:name_on_card) %></span>
      <%= f.label :name_on_card %>
      <%= f.text_field :name_on_card, class: "form-control" %>
      <span class="error"><%= "Please enter a valid credit card number." if @errors.include?(:last_four) %></span>
      <%= f.label :last_four, "Credit Card Number" %>
      <%= f.text_field :last_four, minlength: 14, maxlength: 16, class: "form-control" %>
      <%= label :CVV, "CVV" %>
      <%= text_field_tag 'CVV', nil, class: "form-control", minlength: 3, maxlength: 4 %>
      <span class="error"><%= "Select an expiration date." if @errors.include?(:card_exp) %></span>
      <%= f.label :card_exp, "Expiration Date" %>
      <%= f.date_select :card_exp, start_year: Date.today.year, end_year: Date.today.year + 10, use_two_digit_numbers: true, discard_day: true, order: [:month, :year], prompt: { month: "Month", year: "Year" } %>
      <span class="error"><%= @errors[:exp].first if @errors.include?(:exp) %></span>
    </fieldset>
    <%= f.submit "Confirm Order", class: "btn btn-default btn-block" %>
    <% end %>
  </div>
</div>
