<h1>Order Fulfillment</h1>

<h2>Revenue Stats</h2>
<table class="table">
  <tr>
    <td>Total Revenue (exluding cancelled orders)</td>
    <td>$<%= @user.revenue %></td>
  </tr>
  <% ["pending", "paid", "complete", "cancelled"].each do |status| %>
    <tr>
      <td>Revenue for <%= status %> orders</td>
      <td>$<%= @user.revenue_by_status(status) %></td>
    </tr>
  <% end %>
</table>

<br>


<h2>All Orders</h2>
<br>
<br>

<div class="col-md-2"></div>
<div class="col-md-8">
  <table class="table">
    <% @user.orders.each do |order| %>
      <tr>
        <td><%= order.id %></td>
        <td><%= link_to order.updated_at, user_order_path(@user.id, order.id) %></td>
        <td><%= order.status %></td>
      </tr>
    <% end %>
  </table>
</div>
<div class="col-md-2"></div>
