<% if @order_items.length == 1 %>
  <h2>You have <%= @order_items.length %> item in your cart!</h2>
<% else %>
  <h2>You have <%= @order_items.length %> items in your cart!</h2>
<% end %>
<br>
<table class="table table-hover cart">
  <tr>
    <th>
      Item
    </th>
    <th>
      Quantity
    </th>
    <th>
    </th>
  </tr>
  <% @order_items.each do |item| %>
    <% if item.enough_inventory? %>
    <tr>
      <td>
        <%= item.product.name %>
      </td>
      <td>
        <%= form_for [item.product, item], controller: :order_items, action: :update do |f| %>
          <%= f.select :quantity, (0..item.product.inventory_total) %>
          <td>
            <%= f.submit "Update", class: "btn btn-default pull-right" %>
            <%= link_to "Remove", product_order_item_path(item.product, item), method: :delete, class: "btn btn-default pull-right" %>
          </td>
        <% end %>
      </td>
    </tr>
    <% end %>
  <% end %>
</table>
<%= link_to "Checkout", checkout_path, class: "btn btn-default btn-block" unless @order_items.empty? %>

<table class="table table-hover cart">
  <% @order_items.each do |item| %>
    <% unless item.enough_inventory? %>
    <h6>You selected <%= item.quantity %> but only <%= item.product.inventory_total %> are currently available.</h6>
    <tr>
      <td>
        <%= item.product.name %>
      </td>
      <td>
        <%= form_for [item.product, item], controller: :order_items, action: :update do |f| %>
          <%= f.select :quantity, (0..item.product.inventory_total) %>
          <td>
            <%= f.submit "Update", class: "btn btn-default pull-right" %>
            <%= link_to "Remove", product_order_item_path(item.product, item), method: :delete, class: "btn btn-default pull-right" %>
          </td>
        <% end %>
      </td>
    </tr>
    <% end %>
  <% end %>
</table>
<%= link_to "Continue Shopping", root_path, class: "btn btn-default btn-block" %>
