<% if !flash.now[:error].nil? %>
  <%= flash.now[:error] %>
<% end %>


<%= form_for @product, url:({ action: @action }) do |f| %>
<div class="form-group">
  <%= f.label :name %>
  <%= f.text_field :name, class: "form-control" %>
</div>

<div class="form-group">
  <%= f.label :description %>
  <%= f.text_field :description, class: "form-control" %>
</div>

<div class="form-group">
  <%= f.label :price %>
  <%= f.number_field :price, class: "form-control" %>
</div>

<div class="field form-group">
    <%= f.label :category, "Categories" %>
    <br>
    <% Category.all.each do |cat| %>
      <%= check_box_tag 'categories[]', cat.id %>
      <%= cat.name %>
      <br>
    <% end %>
</div>




<div class="form-group">
  <%= f.label :inventory_total %>
  <%= f.number_field :inventory_total, class: "form-control" %>
</div>

  <div class="form-group">
    <%= f.label "Retired" %>
    <br>
    <%= f.label "Yes" %>
    <%= f.radio_button(:retired, true) %>
    <%= f.label "No" %>
    <%= f.radio_button(:retired, false) %>
</div>

<div class="form-group">
  <%= f.label :image_url %>
  <%= f.url_field :image_url, class: "form-control" %>

  <%= f.hidden_field :user_id, :value => session[:user_id] %>

</div>

<%= f.submit "Submit", class: "btn btn-primary" %>
<% end %>
