<div class="btn-group" role="group" aria-label="...">
  <%= link_to(products_path(order: 'prod'), :class => "btn btn-default") do %>
     by product
  <% end %>

  <div class="btn-group" role="group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      by category
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <% @categoies.each do |cat| %>
      <li><a href="#"><%= cat.name %></a></li>
      <% end %>
    </ul>
  </div>
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      by merchant
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <% @merchants.each do |merch| %>
        <%= link_to(root_path(order: merch.id), :class => "btn btn-default dropdown-toggle") do %>
        <li><%= merch.first_name %> <%= merch.last_name %></li>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>


<br>
<% @products.each do |product| %>
  <% if !product.retired? %>
    <a href="product_route(product.id)"> <%= product.name %> $<%= product.price %> </a>
    <br>
  <% end %>
<% end %>
