<h1>HELLO, <%= @user_name %> </h1>

<%= link_to "Login", new_session_path %>
<br>
<%= link_to "Logout", logout_path, method: :delete %>
<br>

<%= link_to(products_path(order: 'prod')) do %>
   <hr />
   by product
   <hr />
<% end %>
<%= link_to(products_path(order: 'cat')) do %>
   <hr />
   by category
   <hr />
<% end %>
<%= link_to(products_path(order: 'mart')) do %>
  <hr />
  by category
  <hr />
<% end %>

<% if @order = "prod" %>
  <% @products.each do |product| %>
    <% if !product.retired? %>
      <a href="product_route(product.id)"> <%= product.name %> $<%= product.price %> </a>
    <% end %>
  <% end %>
<% elsif @order = "cat" %>
  <% @categories.each do |cat| %>
    <% @products.each do |product| %>
      <% if !product.retired? && product.categories.include?(cat) %>
        <a href="product_route(product.id)"> <%= product.name %> $<%= product.price %> </a>
      <% end %>
    <% end %>
  <% end %>
<% else %>
  <% @markets.each do |mark| %>
    <% @products.each do |product| %>
      <% if !product.retired? && product.categories.include?(mark) %>
        <a href="product_route(product.id)"> <%= product.name %> $<%= product.price %> </a>
      <% end %>
    <% end %>
  <% end %>
<% end %>
