<h1>HELLO, <%= @user_name %> </h1>

<%= link_to "Login", new_session_path %>
<br>
<%= link_to "Logout", logout_path, method: :delete %>
<br>

<% if @user_name != "Guest" %>
  <%= link_to "My Account Page", user_path(@user_id) %>
<% end %>

<div class="btn-group">
  <%= link_to(products_path(order: 'prod'), :class => "btn btn-default") do %>
     by product
  <% end %>
  <%= link_to(products_path(order: 'cat'), :class => "btn btn-default") do %>
     by category
  <% end %>
  <%= link_to(products_path(order: 'mart'), :class => "btn btn-default") do %>
    by category
  <% end %>
</div>

<br>
<% @products.each do |product| %>
  <% if !product.retired? %>
    <a href="product_route(product.id)"> <%= product.name %> $<%= product.price %> </a>
    <br>
  <% end %>
<% end %>
