
<% if @user_name != "Guest" %>
  <%= link_to "Account Page", user_path(@user_id), class:"btn btn-default" %>
<% end %>
<br>
<br>

<div class="btn-group" role="group" aria-label="...">
  <%= link_to(products_path(:type => 'cat', :class => "btn btn-default")) do %>
     by product
  <% end %>

  <div class="btn-group" role="group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      by category
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <% @categories.each do |cat| %>
        <li><%= link_to(root_path(:type => 'cat', :order => cat.id)) do %>
        <%= cat.name %></li>
        <% end %>
      <% end %>
    </ul>
  </div>
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      by merchant
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <% @merchants.each do |merch| %>
        <li><%= link_to(root_path(:type => 'merch',:order => merch.id)) do %>
        <%= merch.first_name %> <%= merch.last_name %></li>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>

<br>
<% @products.each do |product| %>
  <% if !product.retired? %>
    <%= link_to product.name + " $" + product.price.to_s, product_path(product.id) %>
    <br>
  <% end %>
<% end %>
