<h1><%= @product.name %></h1>
<div class="row">
    <%= image_tag @product.image_url, class: "img-responsive" %>
</div>
<br>
<%= @product.description %>
<br>
<% if @product.retired %>
  Status: Unavailable
<% elsif @product.inventory_total > 0 %>
  Status: Available
  <br>
  <%= form_for [@product, @order_item], controller: :order_items, action: :create do |f| %>
    <%= f.label :quantity %>
    <%= f.select :quantity, (1..@product.inventory_total) %>
    <%= f.submit "Add to Cart", class: "btn btn-success" %>
  <% end %>
<% else %>
  <h2>OUT OF STOCK!</h2>
<% end %>
<br>
<br>

<%= form_for @review, url: product_review_path(@product) do |f| %>
  <div class="row">
    <div class="col-sm-9">
      <div class="btn-group" data-toggle="buttons">
        <% 1.upto(5) do |i| %>
          <%= f.label :rating, class: "btn btn-info" do %>
            <%= f.radio_button :rating, i %>
            <%= i %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="form-group">
  <%= f.label :review_text, "Write a Review" %>
  <%= f.text_area :review_text, class: "form-control"%>
  </div>
  <%= f.submit class: "btn btn-primary" %>
<% end %>
<br>

<% @reviews.each do |review| %>
  <%= review.rating %>
  <%= review.review_text %>
  <br>
<% end %>
